<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Chatbot</title>
    <link rel="stylesheet" href="../static/styles/styles.css">
</head>
<body>
    <div class="container">
        <h1>MLAssistant</h1>
        <form action="/chatbot" method="POST" class="query-section">
            <textarea id="user-query" name="query" placeholder="Enter your query here..." required></textarea>
            <button type="submit">SUBMIT</button>
        </form>
        <div id="response-section" class="response-section">
            <h2>Retrieved Information:</h2>
            <div id ="query-box">
                {{query }}
            </div>
            <div id="summarize-info">
                
                {{ summarize_answer|safe }}
            </div>
        </div>
    </div>
</body>
</html>
